.logo__sign {
  margin: auto;
  border-radius: 2px;
  height: 32px;
  width: 32px;
  display: grid;
  grid-gap: 2px;
  grid-template-areas:
    "side-up side-up side-up side-up side-up"
    "side-left side-left side-right side-right side-right"
    "side-left side-left side-right side-right side-right"
    "side-left side-left side-right side-right side-right";
}

.logo__sign-upper {
  background-color: #0278fe;
  grid-area: side-up;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.logo__sign-left {
  background-color: #0278fe;
  grid-area: side-left;
  border-bottom-left-radius: 2px;
}

.logo__sign-right {
  background-color: #0278fe;
  grid-area: side-right;
  border-bottom-right-radius: 2px;
}
