.place__title {
  max-width: 460px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
}

@media screen and (max-width: 460px) {
  .place__title {
    margin: 48px 16px 30px 16px;
    max-width: 288px;
    font-size: 3em;
    line-height: 1em;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    margin: 48px 16px 30px 16px;
    max-width: 288px;
    font-size: 1em;
    line-height: 1em;
  }
}
