.photo-grid {
  padding: 0;
  margin: 0 auto;
  width: 1184px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
@media screen and (max-width: 1184px) {
  .photo-grid {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .photo-grid {
    width: 364px;
    display: flex;
    flex-wrap: wrap;
  }
}
