@font-face {
  font-family: "Inter";
  src: url("./Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./Inter-Bold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

.page {
  color: white;
  position: absolute;
  width: 100%;
  background-color: #2a2c2f;
}

.logo {
  margin: 34px auto 92px auto;
  width: 271px;
  height: 72px;
}

.logo__sign {
  margin: auto;
  border-radius: 2px;
  height: 32px;
  width: 32px;
  display: grid;
  grid-gap: 2px;
  grid-template-areas:
    "side-up side-up side-up side-up side-up"
    "side-left side-left side-right side-right side-right"
    "side-left side-left side-right side-right side-right"
    "side-left side-left side-right side-right side-right";
}

.logo__sign-upper {
  background-color: #0278fe;
  grid-area: side-up;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.logo__sign-left {
  background-color: #0278fe;
  grid-area: side-left;
  border-bottom-left-radius: 2px;
}

.logo__sign-right {
  background-color: #0278fe;
  grid-area: side-right;
  border-bottom-right-radius: 2px;
}

.logo__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height, or 100% */

  text-align: center;
  text-transform: uppercase;
}

.lead {
  max-width: 984px;
  margin: auto;
  text-align: center;
}

.lead__title {
  margin: auto;
  margin-bottom: 32px;
  max-width: 793px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
}

.lead__subtitle {
  margin: 0 auto;
  max-width: 720px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 64px;
}

.intro {
  text-align: left;
  max-width: 785px;
}

.intro__title {
  margin: 92px auto 40px auto;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}

.intro__quote {
  margin: 0 auto 10px auto;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
}

.intro__author {
  margin: 0 auto 32px auto;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  text-align: right;
}

.intro__desc {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  margin-bottom: 118px;
  /* or 26px */
}

.photo-grid {
  padding: 0;
  margin: 0 auto;
  width: 1184px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
