.page {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #2a2c2f;
}

.logo {
  position: absolute;
  width: 271px;
  height: 72px;
  left: 504px;
  top: 34px;
}

.logo__sign {
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 3;
}
