@font-face {
  font-family: "Inter";
  src: url("./Inter-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./Inter-Regular.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./Inter-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

.page {
  font-family: Inter;
  font-style: normal;
  color: white;
  margin: 0 auto;
  background-color: #2a2c2f;
}

.logo {
  margin: 0 auto 92px auto;
  padding-top: 34px;
  width: 271px;
  height: 72px;
}

.logo__sign {
  margin: auto;
  border-radius: 2px;
  height: 32px;
  width: 32px;
  display: grid;
  grid-gap: 2px;
  grid-template-areas:
    "side-up side-up side-up side-up side-up"
    "side-left side-left side-right side-right side-right"
    "side-left side-left side-right side-right side-right"
    "side-left side-left side-right side-right side-right";
}

.logo__sign-upper {
  background-color: #0278fe;
  grid-area: side-up;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.logo__sign-left {
  background-color: #0278fe;
  grid-area: side-left;
  border-bottom-left-radius: 2px;
}

.logo__sign-right {
  background-color: #0278fe;
  grid-area: side-right;
  border-bottom-right-radius: 2px;
}

.logo__title {
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height, or 100% */

  text-align: center;
  text-transform: uppercase;
}

.lead {
  max-width: 984px;
  margin: auto;
  text-align: center;
}

.lead__title {
  margin: auto;
  margin-bottom: 32px;
  max-width: 793px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
}

.lead__subtitle {
  margin: 0 auto;
  max-width: 720px;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 64px;
}

.lead__image-homeland {
  filter: grayscale(100%);
  width: 100%;
  height: 100%;
}

.intro {
  text-align: left;
  max-width: 785px;
}

.intro__title {
  margin: 92px auto 40px auto;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}

.intro__quote {
  margin: 0;
  max-width: 690px;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
}

.intro__author {
  margin-top: 10px;
  margin-bottom: 32px;
  max-width: 690px;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  text-align: right;
}

.intro__desc {
  max-width: 690px;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  margin-bottom: 118px;
  /* or 26px */
}

.photo-grid {
  padding: 0;
  margin: 0 auto;
  width: 1184px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.photo-grid__photo {
  width: 284px;
  height: 213px;
}

.places {
  margin-top: 92px;
  padding: 0;
  list-style: none;
}

.place {
  margin: auto;
  width: 987px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 420px 1fr;
  row-gap: 48px;
  column-gap: 40px;
  margin-bottom: 80px;
}

.place__title {
  max-width: 460px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
}

.place__image {
  box-sizing: content-box;
  width: 460px;
  height: 460px;
}

.place__button-buy {
  margin-top: 48px;
  width: 248px;
  height: 48px;
  border-style: none;
  color: white;
  background: #0278fe;
  border-radius: 4px;

  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.place__button-buy:hover {
  cursor: pointer;
  background-color: #0063d2;
}

.place__paragraphs {
  padding: 0;
  list-style: none;
}

.place__paragraph {
  max-width: 484px;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 163%;
  /* or 29px */
}

.website {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.website__url-heading {
  margin: 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #aaaaaa;
}

.website__link {
  margin: 0;
  margin-top: 8px;
}

.cover {
  margin: auto;
  width: 1184px;
  height: 740px;
}

.cover__title {
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

.cover__subtitle {
  margin: 32px auto;
  text-align: center;
  width: 320px;
  font-size: 18px;
  line-height: 22px;
}

.cover__background {
  position: absolute;
  max-width: 1168px;
  z-index: 0;
}

.cover:hover {
  cursor: pointer;
  background: #2a2c2f;
  opacity: 0.8;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.cover__info {
  position: relative;
  padding-top: 26vh;
  margin: auto;
  z-index: 1;
  display: flex;
  width: 656px;
  height: 254px;
  flex-direction: column;
  align-items: center;
}

.cover__button-buy {
  background-color: #0278fe;
  border-style: none;
  border-radius: 4px;
  width: 137px;
  height: 48px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: white;
}

.cover__button-buy:hover {
  cursor: pointer;
  background-color: #0063d2;
}

.footer {
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  margin-top: 92px;
  margin-bottom: 24px;
}

@media screen and (max-width: 1184px) {
  .page {
    position: absolute;
  }
  .lead__image-homeland {
    max-width: 768px;
    margin: 0;
    box-sizing: border-box;
  }
  .intro {
    padding: 0 24px;
    max-width: 720px;
  }
  .photo-grid {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
  }
  .place {
    column-gap: 90px;
    margin-left: 24px;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
  }
  .place__image {
    width: 340px;
    height: 340px;
  }
  .cover__background {
    width: 100%;
  }
  .cover {
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    width: 364px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 320px;
    margin: auto;
  }
  .logo {
    width: 200px;
  }
  .lead {
    max-width: 320px;
    margin: auto;
  }
  .lead__title {
    font-size: 40px;
    width: 288px;
    line-height: 44px;
  }
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
  }
  .lead__image-homeland {
    width: 320px;
  }
  .intro {
    padding: 0;
    max-width: 288px;
  }
  .intro__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    /* or 109% */
  }
  .photo-grid__item {
    margin: auto;
    max-width: 288px;
    height: 216px;
  }
  .photo-grid__photo {
    max-width: 288px;
    height: 216px;
  }
  .places {
    max-width: 320px;
    margin: auto;
  }
  .place {
    margin: 0;
    max-width: 320px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    line-height: 163%;
  }
  .place__title {
    margin: 48px 16px 30px 16px;
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
  .place__paragraphs {
    margin-left: 16px;
    margin-right: 16px;
  }
  .website {
    margin: 0 16px 30px 16px;
  }
  .place__button-buy {
    margin: auto;
  }
  .place__image {
    box-sizing: border-box;
    width: 320px;
    height: 320px;
  }
  .cover {
    margin-top: 64px;
    max-width: 320px;
    max-height: 254px;
  }

  .cover__background {
    width: 320px;
    height: 254px;
  }

  .cover__info {
    max-width: 320px;
    padding-top: 10vh;
  }

  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }

  .cover__subtitle {
    margin: 16px 0;
    font-size: 14px;
    line-height: 16px;
  }

  .cover__button-buy {
    width: 137px;
    height: 48px;
  }

  .cover__background {
    max-width: 320px;
  }
}
