.place__image {
  box-sizing: content-box;
  max-width: 460px;
  max-height: 460px;
}

@media screen and (max-width: 1184px) {
  .place__image {
    width: 340px;
    height: 340px;
  }
}

@media screen and (max-width: 365px) {
  .place__image {
    width: 100%;
    max-width: 320px;
    height: auto;
  }
}
