.place__button-buy {
  max-width: 248px;
  height: 48px;
  border-style: none;
  color: white;
  background: #0278fe;
  border-radius: 4px;
  font-family: "Inter", "Gill Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  align-items: start;
  grid-area: button;
}

.place__button-buy:hover {
  cursor: pointer;
  background-color: #0063d2;
}

@media screen and (max-width: 320px) {
  .place__button-buy {
    max-width: 288px;
    min-height: 48px;
    margin: auto;
    margin-top: 30px;
  }
}
