.cover__button-buy {
  background-color: #0278fe;
  border-style: none;
  border-radius: 4px;
  width: 137px;
  height: 48px;
  font-family: "Inter", "Gill Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: white;
}

.cover__button-buy:hover {
  cursor: pointer;
  background-color: #0063d2;
}

@media screen and (max-width: 320px) {
  .cover__button-buy {
    max-width: 137px;
    max-height: 48px;
  }
}
