.cover__subtitle {
  display: flex;
  flex-direction: column;
  margin: 32px auto;
  text-align: center;
  max-width: 320px;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    margin: 16px 0;
    font-size: 14px;
    line-height: 16px;
  }
}
