.photo-grid__item {
  width: 100%;
  max-width: 284px;
  height: auto;
}

@media screen and (min-width: 768px) and (max-width: 1185px) {
  .photo-grid__item {
    max-width: 352px;
    /* height: 264px; */
  }
}

@media screen and (max-width: 360px) {
  .photo-grid__item {
    margin: auto;
    max-width: 288px;
  }
}
