.place__paragraphs {
  padding: 0;
  list-style: none;
  grid-area: text;
}

@media screen and (max-width: 320px) {
  .place__paragraphs {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraphs {
    display: flex;
    flex-direction: column;
  }
}
