.lead__title {
  margin: auto;
  margin-bottom: 32px;
  max-width: 793px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
}

@media screen and (max-width: 768px) {
  .lead__title {
    font-size: 4em;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    font-size: 2em;
    line-height: 1em;
  }
}
