.place__paragraph {
  max-width: 484px;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 163%;
  /* or 29px */
}

.place__paragraph:last-child {
  margin-bottom: 0px;
}

@media screen and (max-width: 1184px) {
  .place__paragraph {
    max-width: 352px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    max-width: 288px;
  }
}
