.cover__info {
  position: relative;
  padding-top: 26vh;
  margin: auto;
  z-index: 1;
  display: flex;
  width: 656px;
  height: 254px;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 320px) {
  .cover__info {
    max-width: 320px;
    padding-top: 10vh;
  }
}
