.intro {
  display: grid;
  grid-template-columns: 784px calc(984px - 784px);
  text-align: left;
  max-width: 984px;
  margin: 0 auto;
}
@media screen and (max-width: 1184px) {
  .intro {
    grid-template-columns: 720px calc(984px - 720px);
    padding: 0 24px;
  }
}

@media screen and (max-width: 745px) {
  .intro {
    grid-template-columns: 280px calc(320px - 280px);
    padding: 0;
    max-width: 288px;
  }
}

@media screen and (max-width: 342px) {
  .intro {
    grid-template-columns: 90vw 10vw;
  }
}
