.intro {
  display: grid;
  grid-template-columns: 784px calc(984px - 784px);
  text-align: left;
  max-width: 984px;
  margin: 0 auto;
  margin-bottom: 118px;
}
@media screen and (max-width: 1184px) {
  .intro {
    grid-template-columns: 720px calc(984px - 720px);
    padding: 0 24px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    grid-template-columns: fit-content(720px);
    padding: 0;
    max-width: 720px;

    margin-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    max-width: calc(100vw - 32px);
    grid-column: auto;
    margin: 0 auto;
    margin-bottom: 90px;
  }
}
