.website {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

@media screen and (max-width: 320px) {
  .website {
    margin: 0 16px 30px 16px;
  }
}
