.cover {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  background-image: url("../../images/__background.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  width: 100%;
  max-width: 1184px;
  height: auto;
}

.cover:hover .cover__overlay {
  opacity: 0.8;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width: 768px) {
  .cover {
    max-height: 746px;
    /*
       \`*-.
        )  _`-.
       .  : `. .
       : _   '  \
       ; *` _.   `*-._
       `-.-'          `-.
         ;       `       `.
         :.       .        \
         . \  .   :   .-'   .
         '  `+.;  ;  '      :
         :  '  |    ;       ;-.
         ; '   : :`-:     _.`* ;
[ty^_^]*' /  .*' ; .*`- +'  `*'
      `*-*   `*-*  `*-*'
    */
  }
}

@media screen and (max-width: 320px) {
  .cover {
    margin-top: 64px;
    max-width: 320px;
    min-height: auto;
    max-height: 254px;
  }
}
