.cover__background {
  position: absolute;
  width: 1184px;
  z-index: 0;
}

@media screen and (max-width: 1184px) {
  .cover__background {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .cover__background {
    max-width: 320px;
    height: 254px;
  }
}
