.place {
  margin: auto;
  max-width: 987px;
  display: grid;
  grid-template-columns: fit-content(460px) auto;
  grid-template-rows: auto minmax(45vh, auto);
  grid-template-areas:
    "location author"
    "image text"
    "button text";
  row-gap: 48px;
  column-gap: 40px;
  margin-bottom: 80px;
}

@media screen and (max-width: 1184px) {
  .place {
    grid-template-columns: fit-content(340px) 45vw;
    column-gap: 28px;
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    max-width: 720px;
  }
}

@media screen and (max-width: 506px) {
  .place {
    max-width: 425px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 320px) {
  .place {
    margin: 0;
    margin-bottom: 48px;
    max-width: 320px;
    display: flex;
    gap: 0;
    flex-direction: column;
    line-height: 163%;
  }
}
