.footer {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  margin-top: 92px;
  padding-bottom: 24px;
}

@media screen and (max-width: 768px) {
  .footer {
    margin-top: 88px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    margin-top: 64px;
  }
}
